.colorp {
    background: $background;
    color: $foreground-white;
    font-family: Iosevka Nerd Font;
    border-radius: 10px;
}

.colorpt {
    background-color: $light_grey;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin: 12px;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: bolder;
}

.colormb {
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
}
